In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
data_path = '/home/Danny/Data-Mining/lab2/kaggle/data/'

In [3]:
json_list = list()
with open(data_path + 'tweets_DM.json' , 'r') as file:
    for line in file:
        json_list.append(json.loads(line))

In [4]:
tweet_list = list()
for json in json_list:
    tweet_id = json['_source']['tweet']['tweet_id']
    hashtags = json['_source']['tweet']['hashtags']
    hashtag = ' '.join(hashtags)
    text = json['_source']['tweet']['text']
    tweet_list.append([tweet_id, text])

In [5]:
emotion_df = pd.read_csv(data_path + 'emotion.csv')
emotion_df

         tweet_id       emotion
0        0x3140b1       sadness
1        0x368b73       disgust
2        0x296183  anticipation
3        0x2bd6e1           joy
4        0x2ee1dd  anticipation
...           ...           ...
1455558  0x38dba0           joy
1455559  0x300ea2           joy
1455560  0x360b99          fear
1455561  0x22eecf           joy
1455562  0x2fb282  anticipation

[1455563 rows x 2 columns]

In [6]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
label_encoder.fit(emotion_df['emotion'])
emotion_df['label'] = label_encoder.transform(emotion_df['emotion'])
emotion_df

         tweet_id       emotion  label
0        0x3140b1       sadness      5
1        0x368b73       disgust      2
2        0x296183  anticipation      1
3        0x2bd6e1           joy      4
4        0x2ee1dd  anticipation      1
...           ...           ...    ...
1455558  0x38dba0           joy      4
1455559  0x300ea2           joy      4
1455560  0x360b99          fear      3
1455561  0x22eecf           joy      4
1455562  0x2fb282  anticipation      1

[1455563 rows x 3 columns]

In [7]:
identification_df = pd.read_csv(data_path + 'data_identification.csv')
identification_df

         tweet_id identification
0        0x28cc61           test
1        0x29e452          train
2        0x2b3819          train
3        0x2db41f           test
4        0x2a2acc          train
...           ...            ...
1867530  0x227e25          train
1867531  0x293813          train
1867532  0x1e1a7e          train
1867533  0x2156a5          train
1867534  0x2bb9d2          train

[1867535 rows x 2 columns]

In [8]:
text_df = pd.DataFrame(tweet_list, columns=['tweet_id', 'text'])
text_df

         tweet_id                                               text
0        0x376b20  People who post "add me on #Snapchat" must be ...
1        0x2d5350  @brianklaas As we see, Trump is dangerous to #...
2        0x28b412  Confident of your obedience, I write to you, k...
3        0x1cd5b0                Now ISSA is stalking Tasha 😂😂😂 <LH>
4        0x2de201  "Trust is not the same as faith. A friend is s...
...           ...                                                ...
1867530  0x316b80  When you buy the last 2 tickets remaining for ...
1867531  0x29d0cb  I swear all this hard work gone pay off one da...
1867532  0x2a6a4f  @Parcel2Go no card left when I wasn't in so I ...
1867533  0x24faed  Ah, corporate life, where you can date <LH> us...
1867534  0x34be8c             Blessed to be living #Sundayvibes <LH>

[1867535 rows x 2 columns]

In [9]:
train_df = text_df.merge(emotion_df, left_on='tweet_id', right_on='tweet_id')
train_df

,tweet_id,text,emotion,label
0,0x376b20,"People who post ""add me on #Snapchat"" must be ...",anticipation,1
1,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",sadness,5
2,0x1cd5b0,Now ISSA is stalking Tasha 😂😂😂 <LH>,fear,3
3,0x1d755c,@RISKshow @TheKevinAllison Thx for the BEST TI...,joy,4
4,0x2c91a8,Still waiting on those supplies Liscus. <LH>,anticipation,1
...,...,...,...,...
1455558,0x321566,I'm SO HAPPY!!! #NoWonder the name of this sho...,joy,4
1455559,0x38959e,In every circumtance I'd like to be thankful t...,joy,4
1455560,0x2cbca6,there's currently two girls walking around the...,joy,4
1455561,0x24faed,"Ah, corporate life, where you can date <LH> us...",joy,4
1455562,0x34be8c,Blessed to be living #Sundayvibes <LH>,joy,4

In [11]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(train_df, test_size=0.2, random_state=42)
train_df, valid_df = train_test_split(train_df, test_size=0.1, random_state=42)
print(train_df.shape)
print(valid_df.shape)
print(test_df.shape)

(1048005, 4)
(116445, 4)
(291113, 4)

In [12]:
# test_df = identification_df[identification_df['identification'] == 'test']
# test_df

In [13]:
# test_df = test_df.merge(text_df, left_on='tweet_id', right_on='tweet_id')
# test_df

In [15]:
train_df.to_csv(data_path + 'train.csv', encoding='utf8', index=False)
valid_df.to_csv(data_path + 'valid.csv', encoding='utf8', index=False)
test_df.to_csv(data_path + 'test.csv', encoding='utf8', index=False)
print(train_df.shape)
print(valid_df.shape)
print(test_df.shape)

(1048005, 4)
(116445, 4)
(291113, 4)